.reveal .slides {
    text-align: left;
}

.reveal .section_break {
   color: white;
   background-color: #123456;
   background: #123456;
   text-align: center;
   margin: auto;
}

.reveal .section_break h1{
  background: none;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: green;
  color: green;
}

.reveal .progress span{
  background: red;
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: green; 
  background: none;
}